<!-- Page Wrapper -->
<div id="wrapper">
  <!-- Content Wrapper -->

  <!--Para que aparezca el menú, colocar la siguiente línea en los componentes donde se necesite-->
  <app-menu></app-menu>


  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
          <i class="fa fa-bars"></i>
        </button>



        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">

          <div class="topbar-divider d-none d-sm-block"></div>

          <!-- Nav Item - User Information -->
          <li class="nav-item dropdown no-arrow">

            <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{user}}</span>
            <!--<img class="img-profile rounded-circle" src="img/undraw_profile.svg">-->

          </li>

        </ul>

      </nav>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- Content Row -->

        <div class="row">

          <!--AQUI EL CONTENIDO CENTRAL-->

          <div class="container-fluid mt-4">
            <div class="row">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/animal">Inicio</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Semilleros</li>
                </ol>
              </nav>
              <div class="col-md-12 d-flex justify-content-center">
                <div class="page-header">
                  <h1>
                    <small>Semilleros Disponibles</small>
                  </h1>
                </div>
              </div>
            </div>
            <!--CONTENIDO-->
            <div class="row">
              <div class="col-md-10">
                <div class="">
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Registrar nuevo semillero
                  </button>
                </div>
                <!--INICIA TABLA-->
                <div class="table-responsive">
                  <table class="table table-striped table-sm">
                    <thead>
                      <tr>
                        <th scope="col" class="text-center">Código</th>
                        <th scope="col" class="text-center">Líder de Semillero</th>
                        <th scope="col" class="text-center">Nombre del Semillero</th>
                        <th scope="col" class="text-center">Descripción</th>
                        <th scope="col" class="text-center">Facultad</th>
                        <th scope="col" class="text-center">Integrantes</th>
                        <th scope="col" class="text-center">Editar</th>
                        <th scope="col" class="text-center">Eliminar</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of semilleroList">
                        <td class="text-center">{{item.codigo}}</td>
                        <td class="text-center">{{item.liderSemillero}}</td>
                        <td class="text-center">{{item.nombreSemillero}}</td>
                        <td class="text-center">{{item.descripcion}}</td>
                        <td class="text-center">{{item.facultad}}</td>
                        <td class="text-center">
                          <ul>
                            <li *ngFor="let integrante of item.integrantes">{{integrante.nombre}}</li>
                          </ul>
                        </td>
                        <td class="text-center"><button type="button" class="btn btn-primary" (click)="toggleEditSemillero(item._id)">
                            <i class="bi bi-pencil-square"></i>
                          </button></td>
                        <td class="text-center"><button type="button" class="btn btn-primary" (click)="deleteSemilleroEntry(item._id)">
                            <i class="bi bi-trash"></i>
                          </button></td>
                      </tr>
                  </table>
                </div>
                <!--TERMINA TABLA-->
                <form *ngIf="editableSemillero" class="card p-2" (ngSubmit)="updateSemilleroEntry()" [formGroup]="semilleroForm">
                  <div class="mb-3">
                    <label for="codigo" class="form-label">Código</label>
                    <input type="text" class="form-control" id="codigo" aria-describedby="emailHelp"
                      placeholder="Ingresa el Código del Semillero" formControlName="codigo">
                  </div>
                  <div class="mb-3">
                    <label for="liderSemillero" class="form-label">Líder de Semillero</label>
                    <input type="text" class="form-control" id="liderSemillero" placeholder=""
                      formControlName="liderSemillero">
                  </div>
                  <div class="mb-3">
                    <label for="nombreSemillero" class="form-label">Nombre del Semillero</label>
                    <input type="text" class="form-control" id="nombreSemillero" placeholder="" formControlName="nombreSemillero">
                  </div>
                  <div class="mb-3">
                    <label for="facultad" class="form-label">Facultad</label>
                    <input type="text" class="form-control" id="facultad" placeholder="" formControlName="facultad">
                  </div>
                  <div class="input-group justify-content-center md-12">
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <!-- Modal New Animal-->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Nuevo Semillero</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form class="card p-2" (ngSubmit)="newSemilleroEntry()" [formGroup]="semilleroForm">
                    <div class="mb-3">
                      <label for="codigo" class="form-label">Código</label>
                      <input type="text" class="form-control" id="codigo" aria-describedby="emailHelp"
                        placeholder="Asigna un código" formControlName="codigo">
                    </div>
                    <div class="mb-3">
                      <label for="liderSemillero" class="form-label">Líder de Semillero</label>
                      <input type="email" class="form-control" id="liderSemillero" aria-describedby="emailHelp"
                        placeholder="Ingresa el nombre del líder" formControlName="liderSemillero">
                    </div>
                    <div class="mb-3">
                      <label for="nombreSemillero" class="form-label">Nombre del Semillero</label>
                      <input type="text" class="form-control" id="nombreSemillero"
                        placeholder="Asigna un nombre al semillero" formControlName="nombreSemillero">
                    </div>
                    <div class="mb-3">
                      <label for="descripcion" class="form-label">Descripción</label>
                      <input type="text" class="form-control" id="descripcion" aria-describedby="emailHelp"
                        placeholder="Agrega una descripción" formControlName="descripcion">
                    </div>
                    <div class="mb-3">
                      <label for="facultad" class="form-label">Facultad</label>
                      <input type="text" class="form-control" id="facultad" aria-describedby="emailHelp"
                        placeholder="Facultad del semillero" formControlName="facultad">
                    </div>
                    <div class="input-group justify-content-center md-12">
                      <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
              </div>
            </div>
          </div>

          <!--Termina el CONTENIDO CENTRAL-->

        </div>

      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright &copy; Your Website 2021</span>
        </div>
      </div>
    </footer>
    <!-- End of Footer -->

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
